@{
    ViewBag.Title = "Contact Page";
}
<h2>@ViewBag.Title.</h2>
<h3>Jon Spencer</h3>

<address>
    662 Gaylord St<br />
    Dresden, Tn 38225<br />
    <abbr title="Phone">P:</abbr>
    731.300.2664<br/>
    jondspen@gmail.com
</address>